/* patrones globales del css */
 
/* Tipografias de titulos, subtitulos, enlaces y botones: Domine */
h1, h2, h3, h4, h5, h6, a, button {
    font-family: 'Domine', serif;
}


/* Tipografias de parrafos: slabo 27px */
p, span, strong, div, em {
    font-family: 'Slabo 27px', serif;
}

/* quitar margen por defecto de body */
body{
    margin: 0 auto !important;
    overflow-x: hidden !important;
}

/* quitar margen por defecto de titulos y parrafos */
h1, h2, h3, h4, h5, h6, p, figure {
    margin: 0;
}

/* confirmar display: block; a elementos de estructura HTML5 */
aside, header, main, footer, section, article, figure, nav, figcaption {
    display: block;
}

/* configuracion del estilo propio  */

/* componente aside menu responsive */
aside#menu-responsive{
    width: 290px;
    height: 100%;
    margin: 0;
    float: none;
    position: fixed;
    top: 0;
    right: -292px;
    z-index: 99998;
    background: #e5165aeb;
    display:none;
    
    
}
aside#menu-responsive a#abrir{
    width: 35px;
    height: auto;
    margin: 0;
    display: block;
    float: none;
    position: absolute;
    top: 15px;
    left: -35px;
    z-index: 1;
    font-size: 1.25em;
    line-height: 1em;
    text-align: center;
    color: #FFFFFF;
    border-radius: 3px 0 0 3px;
    text-decoration: none;
    padding: 7.5px 0;
    letter-spacing: 0.03em;
    transition: all 0.3s ease-in;
    

}
aside#menu-responsive a#abrir:hover{
    color:#E5165A ;
    transition: all 0.3s ease-in;


}
aside#menu-responsive a#cerrar{
    width: 35px;
    height: auto;
    display: none;
    margin: 0;
    float: none;
    position: absolute;
    top: 15px;
    left: -35px;
    z-index: 2;
    font-size: 1.25em;
    line-height: 1em;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 7.5px 0;
    letter-spacing: 0.03em;
    transition: all 0.3s ease-in;

}
aside#menu-responsive a#cerrar:hover{
    color:#E5165A;
    transition: all 0.3s ease-in;

}
aside#menu-responsive nav#menu{
    width: 70%;
    height: auto;
    display: block;
    margin: 70px auto 0 auto;
    float: none;
    position: relative;


}
aside#menu-responsive nav#menu a{
    width: 94%;
    height: auto;
    display: block;
    margin: 0 auto;
    float:none;
    position: relative;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px;


}
aside#menu-responsive nav#menu a:hover{
    color:#000;
    transition: all 0.3s ease-in;
}
aside#menu-responsive a#MD-abrir{
    width: 20px;
    height: auto;
    margin: 0;
    display: none;
    float: none;
    position: absolute;
    top: 136px;
    right: 66px;
    z-index: 1;
    font-size: 1.25em;
    line-height: 1em;
    text-align: center;
    color: #FFFFFF;
    border-radius: 3px 0 0 3px;
    text-decoration: none;
    padding: 7.5px 0;
    letter-spacing: 0.03em;
    transition: all 0.3s ease-in;

}
aside#menu-responsive a#MD-abrir:hover{
    color:#000 ;
    transition: all 0.3s ease-in;

}
aside#menu-responsive a#MD-cerrar{
    width: 20px;
    height: auto;
    margin: 0;
    display: none;
    float: none;
    position: absolute;
    top: 22px;
    left: 400px;
    z-index: 1;
    font-size: 1.25em;
    line-height: 1em;
    text-align: center;
    color: #FFFFFF;
    border-radius: 3px 0 0 3px;
    text-decoration: none;
    padding: 7.5px 0;
    letter-spacing: 0.03em;
    transition: all 0.3s ease-in;

}
aside#menu-responsive a#MD-cerrar:hover{
    color:#000 ;
    transition: all 0.3s ease-in;

}
aside#menu-responsive nav#submenu{
    width: auto;
    height: auto;
    margin: 0 auto;
    float: none;
    position: absolute;
    top: 162px;
    right: 69px;
    display: none;
    z-index: 9999;
    background: #333;
    padding: 10px 5px;

}
aside#menu-responsive nav#submenu a{
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    font-size: 0.9em;
    line-height: 1em;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 0;
    letter-spacing: 0.03em;
    transition: all 0.3s ease-in;
    

}
aside#menu-responsive nav#submenu a:hover{
    color:#E5165A ;
    background: #FFFFFF;
    transition: all 0.3s ease-in;

}
aside#menu-responsive nav#redes-sociales{
    width: 140px;
    height: 35px;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;

} 
aside#menu-responsive nav#redes-sociales a{
    width: auto;
    height: auto;
    display: block;
    margin: 0 9px;
    float: left;
    position: relative;
    font-size: 1.2em;
    line-height: 1em;
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px 0;
    letter-spacing: 0.03em;
    transition: all 0.3s ease-in;

}
aside#menu-responsive nav#redes-sociales a:hover{
    color: #000;
    transition: all 0.3s ease-in;

}

/* componente aside boton WhatsApp */
aside#boton-wp{
    width: 50px;
    height: 50px;
    margin: 0 ;
    float: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99996;
    


}
aside#boton-wp a{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    font-size: 1.50em;
    line-height: 1em;
    text-align: center;
    color: #FFFFFF;
    background: #28eb32;
    text-decoration: none;
    padding: 12.5px 0;
    letter-spacing: 0.03em;
    border-radius: 50%;
    box-shadow: 0 0 15px rgb(0 0 0 / 48%);
    transition: all 0.3s ease-in;
    

}
aside#boton-wp a:hover{
    color: #000;
    background: #FFFFFF;
    transition: all 0.3s ease-in;

}

/* componente header */
header{
    width: 100%;
    height: 80px;
    margin: 0;
    float: none;
    position: fixed;
    top: 0;
    left: 0;
    background: #333333;
    z-index: 99997;

}
header article{
    width: 80%;
    height: 80px;
    margin: 0 auto;
    float: none;
    position: relative;

}
header article figure{
    width: 56px;
    height: 50px;
    display: block;
    margin: 10px 190px 10px 0;
    float: left;
    position: relative;

}
header article figure a{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    transition: all 0.3s ease-in;

}
header article figure a img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    transition: all 0.3s ease-in;

}
header article figure a:hover{
    transform: scale(1.03);
    transition: all 0.3s ease-in;

}
header article nav#menu{
    width: 528px;
    height: 35px;
    display: block;
    margin: 22px 0;
    float: left;
    position: relative;

}
header article nav#menu a{
    width: auto;
    height: auto;
    display: block;
    margin: 0 10px;
    float: left;
    position: relative;
    font-size: 0.9em;
    line-height: 1em;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 0;
    letter-spacing: 0.03em;
    transition: all 0.3s ease-in;
    border-bottom: solid 4px #333333;

}
header article nav#menu a:hover{
    color: #FFFFFF;
    border-bottom: solid 4px #FFFFFF;
    transition: all 0.3s ease-in;

}
header article nav#menu a i{
margin: 0 8px;

}
header article nav#menu a.activo{
    color: #FFFFFF;
    transition: all 0.3s ease-in;
    background-color: #E5165A;
    border-radius: 10px 10px;

}
header article a#MD-abrir{
    width: 20px;
    height: auto;
    margin: 0;
    display: block;
    float: none;
    position: absolute;
    top: 22px;
    left: 400px;
    z-index: 1;
    font-size: 1.25em;
    line-height: 1em;
    text-align: center;
    color: #FFFFFF;
    border-radius: 3px 0 0 3px;
    text-decoration: none;
    padding: 7.5px 0;
    letter-spacing: 0.03em;
    transition: all 0.3s ease-in;

}
header article a#MD-abrir:hover{
    color:#E5165A ;
    transition: all 0.3s ease-in;

}
header article a#MD-cerrar{
    width: 20px;
    height: auto;
    margin: 0;
    display: none;
    float: none;
    position: absolute;
    top: 22px;
    left: 400px;
    z-index: 1;
    font-size: 1.25em;
    line-height: 1em;
    text-align: center;
    color: #FFFFFF;
    border-radius: 3px 0 0 3px;
    text-decoration: none;
    padding: 7.5px 0;
    letter-spacing: 0.03em;
    transition: all 0.3s ease-in;

}
header article a#MD-cerrar:hover{
    color:#E5165A ;
    transition: all 0.3s ease-in;

}
header article nav#submenu{
    width: auto;
    height: auto;
    margin: 0 auto;
    float: none;
    position: absolute;
    top: -110px;
    left: 284px;
    display: none;
    background: #333;
    padding: 10px 5px;

}
header article nav#submenu a{
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    font-size: 0.9em;
    line-height: 1em;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 0;
    letter-spacing: 0.03em;
    transition: all 0.3s ease-in;
    

}
header article nav#submenu a:hover{
    color:#E5165A ;
    background: #FFFFFF;
    transition: all 0.3s ease-in;

}
header article nav#redes-sociales{
    width: 134px;
    height: 35px;
    display: block;
    margin: 22px 0;
    float: right;
    position: relative;

}
header article nav#redes-sociales a{
    width: auto;
    height: auto;
    display: block;
    margin: 0 8px;
    float: left;
    position: relative;
    font-size: 1.2em;
    line-height: 1em;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 0;
    letter-spacing: 0.03em;
    transition: all 0.3s ease-in;
    border-bottom: solid 4px #333333;

}
header article nav#redes-sociales a:hover{
    color: #E5165A;
    transition: all 0.3s ease-in;

}
 
/* caja main  */
main{
    width: 100%;
    height: auto;
    margin: 80px auto 0 auto;
    float: none;
    position: relative;

}
/* seccion slides */
main section#banner-slides{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    background: #fda2b5;

}

main section#banner-slides article.slick-slider{
    width: 100%;
    height: 88vh;
    margin: 0 auto;
    float: none;
    position: relative;  

}
main section#banner-slides article.slick-slider figure{
    width: 100%;
    height: 88vh;
    margin: 0 ;
    float: left;
    position: relative;  

}
main section#banner-slides article.slick-slider figure#slide01{
    background: url('../img/slides/slide-ilustracion-artistica.jpg') no-repeat top center;
    background-size: cover;

}
main section#banner-slides article.slick-slider figure#slide02{
    background: url('../img/slides/slide-ilustracion-de-personaje.jpeg') no-repeat top center;
    background-size: cover;

}
main section#banner-slides article.slick-slider figure#slide03{
    background: url('../img/slides/slide-ilustracion-retratista.jpg') no-repeat top center;
    background-size: cover;

}
main section#banner-slides article.slick-slider h2{
    padding: 100px 306px 26px 604px;
    color: #fff;
    font-size: 1.8em;

}
main section#banner-slides article.slick-slider a{
    width: 115px;
    height: 19px;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    font-size: 1em;
    text-align: center;
    color: #FFFFFF;
    background: #E5165A;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 0;
    transition: all 0.3s ease-in;

}
main section#banner-slides article.slick-slider a:hover{
    color: #000;
    transition: all 0.3s ease-in;

}
.slick-prev{
    left: 30px!important;
    z-index: 998;
}
.slick-next{
    right: 30px!important;
    z-index: 999;
}
/* seccion ilustraciones */
main section#ilustraciones{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    background: #FFFFFF;


}
main section#ilustraciones article{
    width: 100%;
    height: 543px;
    margin: 0 auto;
    float: none;
    position: relative; 
   

}

main section#ilustraciones article figure{
    width: 360px;
    height: 353px;
    float: left;
    position: relative;
    padding: 180px 44px 0 44px;
   
}

main section#ilustraciones article figure h2{
    width: 150px;
    height: 30px;
    margin: 0 auto;
    float: none;
    font-size: 1.4em;
    text-align: center;
    background: rgb(163, 163, 163);
    border-radius:  5px 5px;

}
main section#ilustraciones article figure p{
    font-size: 1em;
    text-align: center;
    padding: 20px 0 20px 0;
    

}
main section#ilustraciones article figure a{
    width: 115px;
    height: 19px;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    font-size: 1em;
    text-align: center;
    color: #FFFFFF;
    background: #E5165A;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 0;
    transition: all 0.3s ease-in;

}
main section#ilustraciones article figure a:hover{
    color: #000;
    transition: all 0.3s ease-in;
}
/* seccion about me */
main section#about-me{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    background: #EAE9E9;


}
main section#about-me article{
    width: 1100px;
    height: 592px;
    margin: 0 auto;
    float: none;
    position: relative;
    

}
main section#about-me article figure{
    width: 550px;
    height: 402px;
    float: left;
    position: relative;
    padding: 190px 0 0 0;
    

}

main section#about-me article figure h2{
    width: 150px;
    height: 30px;
    margin: 0 auto;
    float: none;
    font-size: 1.4em;
    text-align: center;
    background: rgb(163, 163, 163);
    border-radius: 5px 5px;

}
main section#about-me article figure p{
    font-size: 1em;
    text-align: center;
    padding: 20px 0 20px 0;

}
main section#about-me article figure a{
    width: 115px;
    height: 19px;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    font-size: 1em;
    text-align: center;
    color: #FFFFFF;
    background: #E5165A;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 0;
    transition: all 0.3s ease-in;
}
main section#about-me article figure a:hover{
    color: #000;
    transition: all 0.3s ease-in;
}
/* Seccion de contacto */
main section#contactame{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    background: #FFFFFF;

}
main section#contactame article{
    width: 80%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    padding: 90px 0;
   
}
main section#contactame article p{
    text-align: center;
    line-height: 2em;
    font-size: 1.2em;
    padding: 0 0 25px;
}
main section#contactame article nav{
    width: 290px;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
}
main section#contactame article nav a{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    float: none;
    position: relative;
    border: solid 1px #333333;
    text-align: center;
    text-decoration: none;
    color:#FFFFFF;
    background: #E5165A;
    line-height: 2em;
    border-radius: 5px 5px ;
    transition: all 0.3s ease-in;
}
main section#contactame article nav a:hover{
    background:#333333 ;
    color: #E5165A;
    border: solid 1px #E5165A;
    transform: scale(1.03);
    transition: all 0.3s ease-in;
}
/* ilustracion artistica */
main section#artistica-galeria{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    background: #EAE9E9;
}
main section#artistica-galeria article{
    width: 80%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;

}
main section#artistica-galeria article h2{
    font-size: 1.4em;
    text-align: center;
    padding: 15px 0;

}
main section#artistica-galeria article p{
    font-size: 1em;
    text-align: center;
    padding: 5px 0 50px ;

}
main section#artistica-galeria article nav{
    width: 80%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    

}
main section#artistica-galeria article nav div.columna-pi {
    width: 250px;
    height: auto;
    margin: 0 11px ;
    float: none;
    display: inline-block;
    position: relative;


}
main section#artistica-galeria article nav div.columna-pi a{
    width: 250px;
    height: auto;
    margin: 11px;
    float: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    transition: all 0.3s ease-in;

}
main section#artistica-galeria article nav div.columna-pi a:hover{
    transform: scale(1.03);
    transition: all 0.3s ease-in;

}
main section#artistica-galeria article nav div.columna-pi a img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
   
}

/* ilustracion de pesonaje */
main section#personaje-galeria{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    background: #EAE9E9;

}
main section#personaje-galeria article{
    width: 80%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;

}
main section#personaje-galeria article h2{
    font-size: 1.4em;
    text-align: center;
    padding: 15px 0;

}
main section#personaje-galeria article p{
    font-size: 1em;
    text-align: center;
    padding: 5px 0 50px ;

}
main section#personaje-galeria article nav{
    width: 80%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    

}
main section#personaje-galeria article nav div.columna-pi {
    width: 250px;
    height: auto;
    margin: 0 11px ;
    float: none;
    display: inline-block;
    position: relative;


}
main section#personaje-galeria article nav div.columna-pi a{
    width: 250px;
    height: auto;
    margin: 11px;
    float: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    transition: all 0.3s ease-in;

}
main section#personaje-galeria article nav div.columna-pi a:hover{
    transform: scale(1.03);
    transition: all 0.3s ease-in;

}
main section#personaje-galeria article nav div.columna-pi a img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
   
}

/* ilustracion retratista */
main section#retratista-galeria{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    background: #EAE9E9;

}
main section#retratista-galeria article{
    width: 80%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;


}
main section#retratista-galeria article h2{
    font-size: 1.4em;
    text-align: center;
    padding: 15px 0;


}
main section#retratista-galeria article p{
    font-size: 1em;
    text-align: center;
    padding: 5px 0 50px ;
    

}
main section#retratista-galeria article nav{
    width: 80%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    

}
main section#retratista-galeria article nav div.columna-pi {
    width: 250px;
    height: auto;
    margin: 0 11px ;
    float: none;
    display: inline-block;
    position: relative;
    


}
main section#retratista-galeria article nav div.columna-pi a{
    width: 250px;
    height: auto;
    margin: 11px;
    float: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    transition: all 0.3s ease-in;

}
main section#retratista-galeria article nav div.columna-pi a:hover{
    transform: scale(1.03);
    transition: all 0.3s ease-in;

}
main section#retratista-galeria article nav div.columna-pi a img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
   
}

/* perfil */
main section#perfil{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    background: #EAE9E9;
}
main section#perfil article#imagen{
    width: auto;
    height: auto;
    margin: 0 auto 100px;
    float: none;
  
}
main section#perfil article#imagen figure{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    float: none;

}
main section#perfil article#imagen figure img{
    width: 500px;
    height: 500px;
    margin: 50px auto;
    float: none;
    border-radius: 20px;

}
main section#perfil article#informacion{
    width: 80%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;

}
main section#perfil article#informacion h2{
    font-size: 1.4em;
    text-align: center;
    padding: 15px 0;

}
main section#perfil article#informacion p{
    font-size: 1em;
    text-align: center;
    padding: 5px 0 50px ;
    

}
/* portafolio */
main section#portafolio-texto{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    background: #EAE9E9;
}
main section#portafolio-texto article{
    width: 80%;
    height: auto;
    margin: 0 auto;
    float: none;

}
main section#portafolio-texto article p{
    font-size: 1em;
    text-align: center;
    padding: 50px 0 50px ;

}
main section#galeria{
    width: 100%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;
    background: #EAE9E9;

}
main section#galeria figure{
    width: 80%;
    height: auto;
    margin: 0 auto;
    float: none;

}
main section#galeria figure nav{
    width: auto;
    height: auto;
    margin: 0 auto ;
    float: none;
    padding: 10px;
    text-align: center;

}
main section#galeria figure nav a{

    transition: all 0.3s ease-in;

}
main section#galeria figure nav a:hover{
    transform: scale(1.03);
    transition: all 0.3s ease-in;

}
main section#galeria figure nav a img{
    border-radius: 20px;

}

.fancybox-container{
    z-index: 99999 !important;
}
/* componente footer */
footer{
    width: 100%;
    height: auto;
    margin: 0;
    float: none;
    position: absolute;
    background: #E5165A;  

}
footer article{
    width: 80%;
    height: auto;
    margin: 0 auto;
    float: none;
    position: relative;

}
footer article figure{
    width: 56px;
    height: 50px;
    display: block;
    margin: 10px 190px 10px 0;
    float: left;
    position: relative;

}
footer article figure a{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    transition: all 0.3s ease-in;

} 
footer article figure a img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    transition: all 0.3s ease-in;

}
footer article figure a:hover{
    transform: scale(1.03);
    transition: all 0.3s ease-in;

}
footer article nav{
    width: 134px;
    height: 35px;
    display: block;
    margin: 22px 0;
    float: right;
    position: relative;

}
footer article nav a{
    width: auto;
    height: auto;
    display: block;
    margin: 0 8px;
    float: left;
    position: relative;
    font-size: 1.2em;
    line-height: 1em;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 0;
    letter-spacing: 0.03em;
    transition: all 0.3s ease-in;
    border-bottom: solid 4px #E5165A;

} 
footer article nav a:hover{
    color: #333333;
    transition: all 0.3s ease-in;

}


@media only screen and (max-width: 1199px){
    aside#menu-responsive{
        display: block;
    }
    header article nav#menu{
        display: none;
    
    }
    header article nav#redes-sociales{
        display: none;
    
    }
    header article a#MD-abrir{
        display: none;
    
    }
    main section#banner-slides article.slick-slider h2{
        padding: 100px 272px 26px 530px;
  
    }
    main section#ilustraciones article figure{
        padding: 180px 16px 0 16px;
       
    }

}

@media only screen and (max-width: 1060px){
    main section#banner-slides article.slick-slider h2{
        padding: 100px 156px 26px 350px;
  
    }

    main section#ilustraciones article{
        width: 80%;
        height: 680px;
    }
    main section#ilustraciones article figure{
        width: auto;
        height: auto;
        margin: 0 auto;
        float: none;
        padding: 62px 44px 0 44px;
       
    }
    main section#about-me article{
        width:80%;
        height: 452px;
    }
    main section#about-me article figure{
        width: auto;
        height: auto;
        margin: 0 auto;
        float: none;
        padding: 62px 44px 0 44px;
    }

}
@media only screen and (max-width: 899px){
    main section#banner-slides article.slick-slider h2{
        padding: 208px 153px 26px 270px;
  
    }

}
@media only screen and (max-width: 690px){
    main section#banner-slides article.slick-slider h2{
        padding: 208px 210px 26px 224px;
        text-align: center;
    }

}
@media only screen and (max-width: 590px){
    main section#banner-slides article.slick-slider figure#slide01{
        background: url('../img/slides/slide-ilustracion-artistica-mobile.jpg') no-repeat top center;
        background-size: cover;
    }
    main section#banner-slides article.slick-slider figure#slide02{
        background: url('../img/slides/slide-ilustracion-de-personaje-mobile.jpg') no-repeat top center;
        background-size: cover;
    }
    main section#banner-slides article.slick-slider figure#slide03{
        background: url('../img/slides/slide-ilustracion-retratista-mobile.jpg') no-repeat top center;
        background-size: cover;
    }
    main section#banner-slides article.slick-slider h2{
        padding: 208px 156px 26px 169px;
        text-align: center;
    }

    main section#ilustraciones article figure{
        padding: 62px 13px 0 13px; 
    }

    main section#about-me article figure{
        padding: 62px 0 0;
    }
}
@media only screen and (max-width: 499px){
    main section#banner-slides article.slick-slider h2{
        padding: 208px 156px 26px 169px;
        text-align: center;
    }

    main section#ilustraciones article figure{
        padding: 62px 13px 0 13px;  
    }

    main section#about-me article figure{
        padding: 62px 0 0;
    }
}